:root {
  --text: #0f0a10;
  --background: #c3b1e1;
  --primary: #000000;
  --secondary: #ad81f3;
  --accent: #7234d5;
  --div-boxes: #b899ea;
  --line-div: hsl(290, 23%, 5%, 70%);
  --skill-boxes: hsl(263, 83%, 73%, 80%);
}
.dark-theme {
  --text: #d7cde2;
  --background: #1b102b;
  --primary: #c29be4;
  --secondary: #380c7e;
  --accent: #682acb;
  --div-boxes: #1e1033;
  --line-div: hsl(290, 23%, 95%, 75%);
  --skill-boxes: hsl(263, 83%, 27%, 75%);
}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
}
.navbar a {
  color: var(--text);
  text-decoration: none;
  padding: 15px;
  display: block;
}
.navbar a:hover {
  -webkit-text-fill-color: var(--primary);
  color: black;
  transform: translate(0, 3px);
}

.navbar li {
  font-size: 2rem;
  float: left;
}

body {
  font-family: sans-serif;
  font-weight: 600;
  color: var(--text);
  background-color: var(--background);
  transition: 0.5s;
}
#header-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: var(--background);
  z-index: 1;
  box-shadow: 0px 1px 100px var(--accent);
  transition: 0.5s;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  padding: 15%;
  font-size: 10rem;
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sauce {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#name {
  font-size: 2rem;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#Projects {
  transition: 0.5s;
  width: 100%;
}
#Projects * {
  transition: 0.5s;
}

#Projects .weather .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--div-boxes);
  position: relative;
  float: left;
  width: 50%;
  border-radius: 100px;
  padding: 30px;
  margin-bottom: 20px;
}
.skill-line {
  width: 100%;
  height: 2px;
  background-color: var(--line-div);
  margin: 20px 0;
}

#Projects .weather .skill-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

#Projects .weather .skills {
  display: flex;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  background-color: var(--skill-boxes);
}

#Projects .weather h2 {
  font-size: 5rem;
}

#Projects .weather img {
  max-width: 100%;
  height: auto;
}
.toggle_box {
  width: 100px;
  height: 50px;
  display: block;
  background-color: #000;
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
input[type="checkbox"] {
  display: none;
}
.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--background);
  border-radius: 100%;
  margin: 5px;
  transition: 0.5s;
}
