:root {
  --text: #261c31;
  --background: #c3b1e1;
  --background-bottom: #bb93ff;
  --primary: #000000;
  --secondary: #ad81f3;
  --accent: #7234d5;
  --dark-accent: #5422a5;
  --div-boxes: #b899ea;
  --line-div: #0f0a10b3;
  --skill-boxes: #ad81f3cc;
  --slider-boxes: #8066e58c;
  --resume-button: #341566;
}

.dark-theme {
  --text: #d7cde2;
  --background: #1d112e;
  --background-bottom: #050309;
  --primary: #c29be4;
  --secondary: #380c7e;
  --accent: #682acb;
  --dark-accent: #8d5add;
  --div-boxes: #201334;
  --line-div: #f4eff5bf;
  --skill-boxes: #380c7ebf;
  --slider-boxes: #1e1033;
  --resume-button: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-weight: 600;
  color: var(--text);
  background: linear-gradient(var(--background), var(--background-bottom));
  transition: 0.5s;
  animation: slideUpBody 0.8s ease-out;
}

@keyframes slideUpBody {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpContent {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#intro .content {
  opacity: 0;
  animation: slideUpContent 0.8s ease-out 1s forwards;
}

#header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: var(--background);
  box-shadow: 0px 1px 100px var(--accent);
  z-index: 1;
  transition: 0.5s;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  margin-left: -3%;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar li {
  margin: 0 15px;
  font-size: 2rem;
}

.navbar a {
  display: block;
  padding: 15px;
  color: var(--text);
  text-decoration: none;
}

.navbar a:hover {
  color: black;
  -webkit-text-fill-color: var(--primary);
  transform: translate(0, 3px);
}

h1 {
  padding: 15%;
  font-size: 10rem;
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sauce {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#name {
  font-size: 2rem;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main section {
  margin: 200px 0 50px 0;
}

#main > h2 {
  margin-bottom: 0;
}

#main h2 {
  display: flex;
  justify-content: center;
  font-size: 10rem;
}

#main h3 {
  font-size: 3rem;
}

#intro {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - 25px);
  margin-top: 10px !important;
  padding-top: 15px;
  background-image: url(images/bg-light.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 72px);
  padding: 0 10vw;
}

#intro .content h3 {
  margin-bottom: 0.5%;
  font-size: 6rem;
}

#intro .content p {
  text-align: center;
  font-size: 2rem;
}

#intro .content .buttons {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.intro-button {
  margin: 2% 5%;
  background-color: var(--skill-boxes) !important;
  border-radius: 10px;
}

.skill-line {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: var(--line-div);
}

#Projects {
  margin-top: 150px !important;
  position: relative;
  justify-content: space-between;
  gap: 20px;
}

#Projects .vertical-line,
#Projects .top-line,
#Projects .bottom-line {
  position: absolute;
  left: 50%;
  background-color: var(--text);
  box-shadow: -1px 0 5px var(--text), 1px 0 5px var(--text);
}

#Projects .vertical-line {
  top: 0;
  bottom: 0;
  width: 2px;
  margin-top: -2%;
  margin-bottom: -2%;
  transform: translateX(-50%);
}

#Projects .top-line {
  top: 0;
  width: 5%;
  height: 2px;
  margin-top: -2%;
  transform: translateX(-50%);
}

#Projects .bottom-line {
  bottom: 0;
  width: 5%;
  height: 2px;
  margin-bottom: -2%;
  transform: translate(-50%, 60%);
}

#Projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 30px;
  margin-bottom: 1%;
  background-color: var(--div-boxes);
  border-radius: 100px;
  box-sizing: border-box;
  position: relative;
  transition: 0.5s;
}

#Projects .container img {
  width: 100%;
}

#Projects .skill-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}

#Projects .skills {
  display: flex;
  align-items: center;
  padding: 2% 3.5%;
  margin-bottom: 5%;
  background-color: var(--skill-boxes);
  border-radius: 20px;
}

.weather .container {
  float: left;
}

.face .container {
  float: right;
}

#Skills {
  width: 100%;
}

.fancy-button {
  position: relative;
  z-index: 0;
  width: 50%;
  height: 100%;
  padding: 10px 30px;
  font-size: 1.75rem;
  color: var(--text);
  background: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.75s;
}

.fancy-button:hover {
  letter-spacing: 0.05rem;
}

.fancy-button span {
  position: absolute;
  display: block;
  background: var(--accent);
  box-shadow: 0 0 5px var(--accent);
}

.fancy-button span:nth-child(1),
.fancy-button span:nth-child(2) {
  top: 0;
  height: 2.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.125s;
}

.fancy-button:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}

.fancy-button span:nth-child(1) {
  left: 0;
  width: 50.5%;
}

.fancy-button span:nth-child(2) {
  right: 0;
  width: 50.5%;
  transform-origin: right;
}

.fancy-button:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
}

.fancy-button span:nth-child(3),
.fancy-button span:nth-child(4) {
  top: 0;
  width: 1.5px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.125s;
  transition-delay: 0.1s;
}

.fancy-button span:nth-child(3) {
  right: 0;
}

.fancy-button span:nth-child(4) {
  left: 0;
}

.fancy-button:hover span:nth-child(3),
.fancy-button:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}

.fancy-button span:nth-child(5),
.fancy-button span:nth-child(6) {
  bottom: 0;
  height: 1.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.125s;
  transition-delay: 0.175s;
}

.fancy-button span:nth-child(5) {
  left: 0;
  width: 50.5%;
}

.fancy-button span:nth-child(6) {
  right: 0;
  width: 50.5%;
  transform-origin: left;
}

.fancy-button:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: left;
}

.fancy-button:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: right;
}

#Sliders {
  position: relative;
  width: 96%;
  height: 400px;
  margin: 5% 1% 1% 1%;
  overflow: hidden;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -50%;
  }
}

.slider {
  position: absolute;
  left: 100%;
  margin: 0 100px;
  max-width: 15%;
  max-height: 99%;
  animation-name: scrollLeft;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.slider1 {
  animation-delay: calc(10s / 9 * 8);
}

.slider2 {
  animation-delay: calc(10s / 9 * 7);
}

.slider3 {
  animation-delay: calc(10s / 9 * 6);
}

.slider4 {
  animation-delay: calc(10s / 9 * 5);
}

.slider5 {
  animation-delay: calc(10s / 9 * 4);
}

.slider6 {
  animation-delay: calc(10s / 9 * 3);
}

.slider7 {
  animation-delay: calc(10s / 9 * 2);
}

.slider8 {
  animation-delay: calc(10s / 9 * 1);
}

.slider9 {
  animation-delay: 0s;
}

#Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#Contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vh;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--resume-button);
  color: var(--background-bottom);
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.5s, transform 0.3s;
}

.download-button:hover {
  transform: translateY(-5px);
}

.social-buttons {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  margin: 10%;
  margin-right: 20%;
}

.social-buttons a {
  width: 8vh;
  height: 8vh;
}

.social-icon {
  width: 150px;
  height: 150px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.toggle_box {
  width: 100px;
  height: 50px;
  display: block;
  background-color: #000;
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

input[type="checkbox"] {
  display: none;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--background);
  border-radius: 100%;
  margin: 5px;
  transition: 0.5s;
}
